*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
*.log
*.nav
*.orig
*.pyc
*.swp
*~
.classpath
.project
.settings/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
/app/release/
